In [1]:
numeros = [6, 5, 3, 8, 4, 2, 5, 4, 11]
suma = 0

for valor in numeros:
    suma += valor

print("La suma es:", suma)

La suma es: 48

In [2]:
numeros = [6, 5, 3, 8, 4, 2, 5, 4, 11]
suma = 0

for valor in numeros:
    suma += valor

print(f"La suma es: {suma}.")

La suma es: 48.

In [3]:
frutas = ["Manzana", "Fresa", "Cereza"]

for fruta in frutas:
    print(fruta)

Manzana
Fresa
Cereza

In [4]:
for letra in "plátano":
    print(letra)

p
l
á
t
a
n
o

In [5]:
total = 0
for i in 5, 7, 11, 13:
    print(i)
    total += i
print("Total:", total)

5
7
11
13
Total: 36

In [6]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [7]:
for x in range(2, 10):
    print(x)

2
3
4
5
6
7
8
9

In [8]:
for x in range(2, 10, 3):
    print(x)

2
5
8

In [9]:
for x in range(6):
    print(x)
else:
    print("Proceso terminado.")

0
1
2
3
4
5
Proceso terminado.

In [10]:
mas_grande = -1
for numero in [9, 41, 12, 3, 74, 15]:
    if numero > mas_grande:
        mas_grande = numero
print("Número más grande:", mas_grande)

Número más grande: 74

In [11]:
frutas = ["Manzana", "Fresa", "Cereza"]

for fruta in frutas:
    print(fruta)
    if fruta == "Fresa":
        break

Manzana
Fresa

In [17]:
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Proceso terminado.")

0
1
2

In [18]:
for x in range(6):
    if x == 8: break
    print(x)
else:
    print("Proceso terminado.")

0
1
2
3
4
5
Proceso terminado.

In [14]:
nombre = input("Nombre del estudiante: ")
datos = {"José": 85, "Angela": 92, "Miguel": 75, "Ana": 98}

for estudiante in datos:
    if estudiante == nombre:
        print("Calificación:", datos[estudiante])
        break
else:
    print("No se encontró al estudiante solicitado.")

Nombre del estudiante: Miguel
Calificación: 75

In [15]:
nombre = input("Nombre del estudiante: ")
datos = {"José": 85, "Angela": 92, "Miguel": 75, "Ana": 98}

for estudiante in datos:
    if estudiante == nombre:
        print("Calificación:", datos[estudiante])
        break
else:
    print("No se encontró al estudiante solicitado.")

Nombre del estudiante: Raúl
No se encontró al estudiante solicitado.

In [19]:
frutas = ["Manzana", "Fresa", "Cereza"]

adjetivos = ["roja", "grande", "deliciosa"]

for fruta in frutas:
    for adjetivo in adjetivos:
        print(fruta, adjetivo)

Manzana roja
Manzana grande
Manzana deliciosa
Fresa roja
Fresa grande
Fresa deliciosa
Cereza roja
Cereza grande
Cereza deliciosa

In [20]:
lista = [10, 20, 30, 40]

for numero in reversed(lista):
    print(numero)

40
30
20
10

In [22]:
tablas = int(input("Número de tablas a calcular: "))

for i in range(1, tablas + 1):
    print("Tabla de multiplicar del:", i)
    contador = 1
    while contador < 11:
        print(i * contador, end = " ")
        contador += 1
    print("\n")

Número de tablas a calcular: 10
Tabla de multiplicar del: 1
1 2 3 4 5 6 7 8 9 10

Tabla de multiplicar del: 2
2 4 6 8 10 12 14 16 18 20

Tabla de multiplicar del: 3
3 6 9 12 15 18 21 24 27 30

Tabla de multiplicar del: 4
4 8 12 16 20 24 28 32 36 40

Tabla de multiplicar del: 5
5 10 15 20 25 30 35 40 45 50

Tabla de multiplicar del: 6
6 12 18 24 30 36 42 48 54 60

Tabla de multiplicar del: 7
7 14 21 28 35 42 49 56 63 70

Tabla de multiplicar del: 8
8 16 24 32 40 48 56 64 72 80

Tabla de multiplicar del: 9
9 18 27 36 45 54 63 72 81 90

Tabla de multiplicar del: 10
10 20 30 40 50 60 70 80 90 100