In [54]:
from statistics import mean, median, mode, stdev
import matplotlib.pyplot as plt
import numpy as np
import csv
import os

# Directorio actual
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))

Current working directory: /Users/memobarbosa/Análisis de datos/Parte 2

### Cambio del directorio

In [55]:
# Cambiar el directorio actual
os.chdir('/users/memobarbosa/análisis de datos/parte 2')

### Lectura del archivo

In [40]:
# Abro el archivo
file = open(r'./Height of Male and Female by Country 2022.csv')

# Leo el archivo
csvreader = csv.reader(file)

In [41]:
# Obtiene los encabezados del archivo (header)
header = []
header = next(csvreader)
header

['Rank',
 'Country Name',
 'Male Height in Cm',
 'Female Height in Cm',
 'Male Height in Ft',
 'Female Height in Ft']

In [42]:
# Paso los datos a una lista
rows = []
for row in csvreader: rows.append(row)

### Impresión de las primeras 50 líneas

In [43]:
rows[:50]

[['1', 'Netherlands', '183.78', '170.36', '6.03', '5.59'],
 ['2', 'Montenegro', '183.30', '169.96', '6.01', '5.58'],
 ['3', 'Estonia', '182.79', '168.66', '6.00', '5.53'],
 ['4', 'Bosnia and Herzegovina', '182.47', '167.47', '5.99', '5.49'],
 ['5', 'Iceland', '182.10', '168.91', '5.97', '5.54'],
 ['6', 'Denmark', '181.89', '169.47', '5.97', '5.56'],
 ['7', 'Czech Republic', '181.19', '167.96', '5.94', '5.51'],
 ['8', 'Latvia', '181.17', '168.81', '5.94', '5.54'],
 ['9', 'Slovakia', '181.02', '167.12', '5.94', '5.48'],
 ['10', 'Slovenia', '180.98', '167.20', '5.94', '5.49'],
 ['11', 'Ukraine', '180.98', '166.62', '5.94', '5.47'],
 ['12', 'Croatia', '180.76', '166.80', '5.93', '5.47'],
 ['13', 'Serbia', '180.74', '168.29', '5.93', '5.52'],
 ['14', 'Lithuania', '180.72', '167.63', '5.93', '5.50'],
 ['15', 'Poland', '180.69', '165.78', '5.93', '5.44'],
 ['16', 'Finland', '180.57', '166.48', '5.92', '5.46'],
 ['17', 'Norway', '180.48', '166.45', '5.92', '5.46'],
 ['18', 'Sweden', '180.46', '166.67', '5.92', '5.47'],
 ['19', 'Germany', '180.28', '166.18', '5.91', '5.45'],
 ['20', 'Dominica', '180.15', '166.89', '5.91', '5.48'],
 ['21', 'Bermuda', '179.72', '166.11', '5.90', '5.45'],
 ['22', 'Puerto Rico', '179.48', '163.06', '5.89', '5.35'],
 ['23', 'Greece', '179.26', '165.81', '5.88', '5.44'],
 ['24', 'Belgium', '179.09', '163.40', '5.88', '5.36'],
 ['25', 'Ireland', '179.04', '164.50', '5.87', '5.40'],
 ['26', 'Lebanon', '178.96', '163.67', '5.87', '5.37'],
 ['27', 'Andorra', '178.84', '165.53', '5.87', '5.43'],
 ['28', 'Antigua and Barbuda', '178.84', '165.72', '5.87', '5.44'],
 ['29', 'Australia', '178.77', '164.67', '5.87', '5.40'],
 ['30', 'Canada', '178.75', '164.73', '5.86', '5.40'],
 ['31', 'Switzerland', '178.73', '164.33', '5.86', '5.39'],
 ['32', 'Grenada', '178.70', '165.99', '5.86', '5.45'],
 ['33', 'Belarus', '178.69', '166.93', '5.86', '5.48'],
 ['34', 'France', '178.60', '164.49', '5.86', '5.40'],
 ['35', 'Austria', '178.52', '166.93', '5.86', '5.48'],
 ['36', 'Luxembourg', '178.46', '165.07', '5.86', '5.42'],
 ['37', 'Cook Islands', '178.32', '167.31', '5.85', '5.49'],
 ['38', 'French Polynesia', '178.32', '166.52', '5.85', '5.46'],
 ['39', 'United Kingdom', '178.21', '163.94', '5.85', '5.38'],
 ['40', 'Romania', '177.82', '164.73', '5.83', '5.40'],
 ['41', 'New Zealand', '177.72', '164.66', '5.83', '5.40'],
 ['42',
  'Saint Vincent and the Grenadines',
  '177.49',
  '165.30',
  '5.82',
  '5.42'],
 ['43', 'Niue', '177.19', '167.03', '5.81', '5.48'],
 ['44', 'American Samoa', '177.09', '167.55', '5.81', '5.50'],
 ['45', 'Barbados', '177.03', '165.66', '5.81', '5.44'],
 ['46', 'Jamaica', '176.97', '164.32', '5.81', '5.39'],
 ['47', 'United States', '176.94', '163.31', '5.81', '5.36'],
 ['48', 'Tunisia', '176.85', '161.69', '5.80', '5.30'],
 ['49', 'Russia', '176.65', '164.52', '5.80', '5.40'],
 ['50', 'Hungary', '176.59', '162.55', '5.79', '5.33']]

# Altura media, mínima y máxima de hombres y mujeres del dataset completo
##  Hombres (cm)

In [44]:
alturas = np.array(rows)

altura_hombres = alturas[:, 2]
altura_hombres

array(['183.78', '183.30', '182.79', '182.47', '182.10', '181.89',
       '181.19', '181.17', '181.02', '180.98', '180.98', '180.76',
       '180.74', '180.72', '180.69', '180.57', '180.48', '180.46',
       '180.28', '180.15', '179.72', '179.48', '179.26', '179.09',
       '179.04', '178.96', '178.84', '178.84', '178.77', '178.75',
       '178.73', '178.70', '178.69', '178.60', '178.52', '178.46',
       '178.32', '178.32', '178.21', '177.82', '177.72', '177.49',
       '177.19', '177.09', '177.03', '176.97', '176.94', '176.85',
       '176.65', '176.59', '176.43', '176.43', '176.39', '176.36',
       '176.35', '176.18', '176.11', '176.06', '176.03', '175.98',
       '175.98', '175.90', '175.73', '175.66', '175.62', '175.59',
       '175.52', '175.50', '175.11', '175.05', '175.04', '175.02',
       '174.96', '174.84', '174.83', '174.76', '174.69', '174.65',
       '174.57', '174.51', '174.42', '174.42', '174.40', '174.38',
       '174.37', '174.37', '174.32', '174.17', '174.08', '174.07',
       '174.04', '174.00', '173.98', '173.84', '173.81', '173.79',
       '173.71', '173.67', '173.56', '173.53', '173.53', '173.50',
       '173.27', '173.16', '173.01', '172.88', '172.76', '172.75',
       '172.23', '172.15', '172.13', '172.07', '172.06', '171.89',
       '171.85', '171.84', '171.70', '171.66', '171.64', '171.61',
       '171.55', '171.30', '171.23', '171.22', '170.94', '170.77',
       '170.70', '170.69', '170.67', '170.67', '170.67', '170.62',
       '170.60', '170.52', '170.48', '170.46', '170.37', '170.30',
       '170.29', '170.26', '170.19', '170.14', '170.09', '169.91',
       '169.75', '169.63', '169.59', '169.57', '169.57', '169.41',
       '169.20', '169.01', '168.89', '168.84', '168.74', '168.60',
       '168.50', '168.46', '168.44', '168.43', '168.36', '168.29',
       '168.23', '168.18', '168.17', '168.10', '168.07', '167.92',
       '167.87', '167.72', '167.62', '167.34', '167.33', '167.32',
       '167.05', '166.98', '166.75', '166.70', '166.50', '166.43',
       '166.31', '166.26', '166.02', '165.68', '165.54', '165.48',
       '165.35', '165.26', '165.23', '165.16', '165.08', '164.42',
       '164.36', '164.36', '164.30', '163.10', '163.07', '162.78',
       '160.13'], dtype='<U32')

In [45]:
# Transformación del array en números
altura_hombres_cm_int = [float(numeric_string) for numeric_string in altura_hombres]

# Cálculo de la media, min y max de alturas de hombres en cm
mean_altura_h_cm = mean(altura_hombres_cm_int)
min_altura_h_cm = min(altura_hombres_cm_int)
max_altura_h_cm = max(altura_hombres_cm_int)

# Primer reporte estadístico de los datos
print('En promedio, la altura en cm de los hombres es de: {:.2f}'.format(mean_altura_h_cm), 'cm.')
print('La altura más baja que se muestra en los datos de hombres es de: {:.1f}'.format(min_altura_h_cm), 'cm.')
print('La altura más alta que se muestra en los datos de hombres es de: {:.1f}'.format(max_altura_h_cm), 'cm.')

En promedio, la altura en cm de los hombres es de: 173.09 cm.
La altura más baja que se muestra en los datos de hombres es de: 160.1 cm.
La altura más alta que se muestra en los datos de hombres es de: 183.8 cm.

## Hombres (ft)

In [46]:
altura_hombres_ft = alturas[:, 4]

# Transformación del array en números
altura_hombres_ft_float = [float(numeric_string) for numeric_string in altura_hombres_ft]

# Cálculo de la media, min y max de alturas de hombres en ft
mean_altura_h_ft = mean(altura_hombres_ft_float)
min_altura_h_ft = min(altura_hombres_ft_float)
max_altura_h_ft = max(altura_hombres_ft_float)

# Primer reporte estadístico de los datos
print('En promedio, la altura en pies de los hombres es de: {:.2f}'.format(mean_altura_h_ft), 'pies.')
print('La altura más baja que se muestra en los datos de hombres es de: {:.1f}'.format(min_altura_h_ft), 'pies.')
print('La altura más alta que se muestra en los datos de hombres es de: {:.1f}'.format(max_altura_h_ft), 'pies.')

En promedio, la altura en pies de los hombres es de: 5.68 pies.
La altura más baja que se muestra en los datos de hombres es de: 5.2 pies.
La altura más alta que se muestra en los datos de hombres es de: 6.0 pies.

## Mujeres (cm)

In [47]:
altura_mujeres_cm = alturas[:, 3]

# Transformación del array en números
altura_mujeres_cm_float = [float(numeric_string) for numeric_string in altura_mujeres_cm]

# Cálculo de la media, min y max de alturas de mujeres en cm
mean_altura_m_cm = mean(altura_mujeres_cm_float)
min_altura_m_cm = min(altura_mujeres_cm_float)
max_altura_m_cm = max(altura_mujeres_cm_float)

# Primer reporte estadístico de los datos
print('En promedio, la altura en cm de las mujeres es de: {:.2f}'.format(mean_altura_m_cm), 'cm.')
print('La altura más baja que se muestra en los datos de mujeres es de: {:.1f}'.format(min_altura_m_cm), 'cm.')
print('La altura más alta que se muestra en los datos de mujeres es de: {:.1f}'.format(max_altura_m_cm), 'cm.')

En promedio, la altura en cm de las mujeres es de: 160.94 cm.
La altura más baja que se muestra en los datos de mujeres es de: 150.9 cm.
La altura más alta que se muestra en los datos de mujeres es de: 170.4 cm.

## Mujeres (ft)

In [48]:
altura_mujeres_ft = alturas[:, 5]

# Transformación del array en números
altura_mujeres_ft_float = [float(numeric_string) for numeric_string in altura_mujeres_ft]

# Cálculo de la media, min y max de alturas de mujeres en ft
mean_altura_m_ft = mean(altura_mujeres_ft_float)
min_altura_m_ft = min(altura_mujeres_ft_float)
max_altura_m_ft = max(altura_mujeres_ft_float)

# Primer reporte estadístico de los datos
print('En promedio, la altura en pies de las mujeres es de: {:.2f}'.format(mean_altura_m_ft), 'pies.')
print('La altura más baja que se muestra en los datos de mujeres es de: {:.1f}'.format(min_altura_m_ft), 'pies.')
print('La altura más alta que se muestra en los datos de mujeres es de: {:.1f}'.format(max_altura_m_ft), 'pies.')

En promedio, la altura en pies de las mujeres es de: 5.28 pies.
La altura más baja que se muestra en los datos de mujeres es de: 5.0 pies.
La altura más alta que se muestra en los datos de mujeres es de: 5.6 pies.

# Data de alturas de mi país de origen (México)

In [49]:
paises = alturas[:, 1]
paises

array(['Netherlands', 'Montenegro', 'Estonia', 'Bosnia and Herzegovina',
       'Iceland', 'Denmark', 'Czech Republic', 'Latvia', 'Slovakia',
       'Slovenia', 'Ukraine', 'Croatia', 'Serbia', 'Lithuania', 'Poland',
       'Finland', 'Norway', 'Sweden', 'Germany', 'Dominica', 'Bermuda',
       'Puerto Rico', 'Greece', 'Belgium', 'Ireland', 'Lebanon',
       'Andorra', 'Antigua and Barbuda', 'Australia', 'Canada',
       'Switzerland', 'Grenada', 'Belarus', 'France', 'Austria',
       'Luxembourg', 'Cook Islands', 'French Polynesia', 'United Kingdom',
       'Romania', 'New Zealand', 'Saint Vincent and the Grenadines',
       'Niue', 'American Samoa', 'Barbados', 'Jamaica', 'United States',
       'Tunisia', 'Russia', 'Hungary', 'Saint Lucia', 'North Macedonia',
       'Libya', 'Turkey', 'Morocco', 'Senegal', 'Spain', 'Tokelau',
       'Trinidad and Tobago', 'Israel', 'Georgia', 'Seychelles', 'Brazil',
       'China', 'Iran', 'Moldova', 'South Korea', 'Kazakhstan', 'Tonga',
       'Palestine', 'Algeria', 'Mali', 'Kuwait', 'Jordan', 'Hong Kong',
       'Argentina', 'North Korea', 'Dominican Republic', 'Egypt',
       'Suriname', 'Italy', 'Samoa', 'Bahamas', 'Malta', 'Turkmenistan',
       'Portugal', 'Uruguay', 'Bulgaria', 'United Arab Emirates',
       'Albania', 'Costa Rica', 'Azerbaijan', 'Fiji', 'Greenland',
       'Paraguay', 'Iraq', 'Saint Kitts and Nevis', 'Armenia', 'Cuba',
       'Venezuela', 'Taiwan', 'Singapore', 'Qatar', 'Botswana',
       'Mauritius', 'Chile', 'Bahrain', 'Cyprus', 'Haiti', 'Guyana',
       'Cameroon', 'Sudan', 'Japan', 'Burkina Faso', 'Colombia', 'Chad',
       'Oman', 'Kyrgyzstan', 'Syria', 'Thailand', 'Nigeria', 'Tuvalu',
       'Republic of the Congo', 'Somalia', 'Uzbekistan', 'Djibouti',
       'Guinea', 'Zimbabwe', 'Mongolia', 'El Salvador', 'Saudi Arabia',
       'Palau', 'Eritrea', 'Belize', 'Gabon', 'Kenya',
       'Sao Tome and Principe', 'Ghana', 'Mexico', 'Niger', 'Panama',
       'Togo', 'Kiribati', 'Nicaragua', 'Namibia', 'South Africa',
       'Honduras', 'Micronesia', 'Nauru', 'Eswatini', 'Malaysia',
       'Central African Republic', 'Vietnam', 'Ethiopia', 'Uganda',
       'DR Congo', 'Afghanistan', 'Angola', 'Benin', 'Tajikistan',
       'Gambia', 'Vanuatu', 'Ivory Coast', 'Equatorial Guinea',
       'Guinea-Bissau', 'Bolivia', 'Sri Lanka', 'Lesotho', 'Maldives',
       'Comoros', 'Zambia', 'Burundi', 'Pakistan', 'Ecuador', 'Bhutan',
       'Tanzania', 'Peru', 'Myanmar', 'India', 'Sierra Leone', 'Brunei',
       'Indonesia', 'Rwanda', 'Malawi', 'Mauritania', 'Liberia',
       'Cambodia', 'Marshall Islands', 'Philippines', 'Madagascar',
       'Bangladesh', 'Yemen', 'Nepal', 'Guatemala', 'Mozambique',
       'Papua New Guinea', 'Solomon Islands', 'Laos', 'Timor-Leste'],
      dtype='<U32')

In [50]:
# Mexico
filter_arr = (paises == 'Mexico')
print(filter_arr)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False  True False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False]

In [51]:
data_mexico = alturas[filter_arr]

print('Datos de altura en', data_mexico[0][1])
print('Altura de hombres (cm): {:.2f}'.format(float(data_mexico[0][2])))
print('Altura de hombres (ft): {:.2f}'.format(float(data_mexico[0][4])))
print('Altura de mujeres (cm): {:.2f}'.format(float(data_mexico[0][3])))
print('Altura de mujeres (ft): {:.2f}'.format(float(data_mexico[0][5])))

Datos de altura en Mexico
Altura de hombres (cm): 170.29
Altura de hombres (ft): 5.59
Altura de mujeres (cm): 157.90
Altura de mujeres (ft): 5.18